.icalyearbox {
  padding: 5px;
  overflow-x: auto;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.icalyearbox table {
  border-width: 1px;
  border-spacing: 2px;
  border-style: solid solid solid solid;
  border-color: #BFBFBF;
  border-collapse: collapse;
  background-color: white;
  margin: 0 auto;
}
.icalyearbox table.left {
  float: left;
}
.icalyearbox table.right {
  float: right;
}
.icalyearbox table tr.yr-header {
  border-color: #D8D8D8;
  border-bottom: 2px solid #BFBFBF;
}
.icalyearbox table tr.blank,
.icalyearbox table tr.blank td {
  border: 0;
  background: none;
}
.icalyearbox table td {
  width: 16px;
  position: relative;
  border: 1px solid #BFBFBF;
}
.icalyearbox table td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
.icalyearbox table td .cellc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #4EC5F180;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icalyearbox table td .wkend {
  background-color: #EAF0F0;
}
.icalyearbox table td .blank {
  background-color: #CDD2E2;
}
.icalyearbox table td .today {
  background-color: #ffea70;
}
.icalyearbox table td:hover {
  background-color: #CDD2E2;
}
.icalyearbox table th {
  border: 1px solid #BFBFBF;
  height: 100%;
  padding: 0;
  margin: 0;
}
.icalyearbox table th .cellc {
  background-color: #F0F5F7;
  width: 100%;
  height: 18px;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.icalyearbox table th .wkend {
  background-color: #D6DBEA;
}
.icalyearbox table th .alt {
  background-color: #D6DBEA;
}
.icalyearbox table th .plain {
  background: none;
}
.icalyearbox table th .cellc .pad {
  margin-left: 6px;
  margin-right: 6px;
}
